p{
    font-size: 30px;
    text-align: center;
}
 .input2{
     
     border: 1px solid black;
     border-radius:7px ;
     margin-top: 50px;
     height: 30px; 
     width: 120px; 
     margin-left:20px ;
 }
 .div{
     height: 100px; ;
     width:419px ;
     display: flex;
     margin:0 auto ;
 }
 .button{

     color: white;
     background-color: rgb(13, 2, 63);
     height:20px;
     width: 159px;
     margin-left: 520px;
     margin-top:50px;
     cursor: pointer;
     border: 1px solid black;
     border-radius:3px ;


 }


 footer{
     margin-top: 40px;
 }