@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
body, form, button, label, ::placeholder{
    font-family: OpenSans;
}
body{
    background-color: #1D1736;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
  border-radius: 10px;
  background-color: #C2C1C1;
  width: 28%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12rem;
  box-shadow: 3px 3px 2px black;
  text-align: center;
}
img{
    display: block;
    align-self: center;
    width: 17vw;
}
button{
    width: 76.5%;
    height: 6vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    cursor: pointer;
}
#email{
    width: 75%;
    height: 4vh;
}
#password{
    width: 75%;
    height: 4vh;
}
#checkbox{
    text-align: left;
    padding-left: 11%;
    margin: 0%;
}
h1{
    color: #1D1736;
    font-size: 18rem;
    align-self: center;
}
form a{
    text-decoration: none;
    color: #1D1736;
    display: block;
}
