@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
}

.header {
    width: 100%;
    background-color: #1d1736;
    height: 10vh;
    display: flex;
}

.logo {
    max-width: 150px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.busca {
    display: flex;
    width: 200px;
    height: 25px;
    margin: auto;
}

.login-right {
    margin-right: 2%;
    align-self: center;
}

.login-right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.menu {
    background-color: #1d1736;
    display: flex;
    border-top: 4px solid white;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 20px;
}


main {
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Open Sans";
}

h1 {
    text-align: center;
    padding: 1%;
    font-family: ;
    
}
.caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;

}
.pontos1 {
      
}

.pontos2 {
    

}
.pontos3 {
    
}

p { 
    text-align: center;
    font-size: 14px;
    color: #1d1736 ;
    
}

button {
    background-color: #F8B000;
    color: white;
    text-rendering: auto;
    display: inline-block;
    border-radius: 3px;
    border: thin;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    margin: 3px;
}
footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    background-color: #1d1736;
    color: white;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.atendimento img {
    height: 20px;
    width: 20px;
}
