* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #1d1736;
    height: 10vh;
    display: flex;
}

.logo {
    width: 4%;
    height: 40%;
    background-color: white;
    align-self: center;
    margin-left: 2%;
    text-align: center;
}

.busca {
    display: flex;
    width: 200px;
    height: 25px;
    margin: auto;
}

.login-right {
    margin-right: 2%;
    align-self: center;
}

.login-right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.menu {
    background-color: #1d1736;
    display: flex;
    border-top: 4px solid white;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 20px;
}

footer {
    display: flex;
    width: 100%;
    border: 2px solid gray;
    padding: 20px;
    margin-top: auto;
    background-color: #1d1736;
    color: white;
}