body {
    margin: 0;
}

.header {
    width: 100%;
    background-color: #1d1736;
    height: 25vh;
    display: flex;
}

.logo {
    width: 4%;
    height: 40%;
    background-color: white;
    align-items: center;
    flex-direction: row;
    align-self: center;
    margin-left: 2%;
    box-sizing: border-box;
}

.busca {
    margin: auto;
}

.login-right {
    margin-right: 2%;
    align-self: center;
}

.login-right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.menu {
    background-color: #1d1736;
    display: flex;
    border-top: 4px solid white;
    color: white;
    justify-content: space-between;
}

nav li {
    display: inline;
}