* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #1d1736;
    height: 10vh;
    display: flex;
}

.logo {
    max-width: 150px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.busca {
    display: flex;
    width: 200px;
    height: 25px;
    margin: auto;
}

.login-right {
    margin-right: 2%;
    align-self: center;
}

.login-right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.menu {
    background-color: #1d1736;
    display: flex;
    border-top: 4px solid white;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 20px;
}

.logo-main {
    display: flex;
    margin: auto;
    margin-top: 10px;
    max-width: 400px;
    max-height: 250px;
    width: auto;
    height: auto;
}

main h3 {
    margin-left: 17px;
}
.ps4 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.xbox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    background-color: #1d1736;
    color: white;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}