@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: OpenSans;
    display: flex;
    justify-content: center;
    height: fit-content;
}
h1{
    color: #676766; 
    font-size: 19rem;
    margin-left: 1vw;
}
h2{
    font-size: 16rem;
}
main{
    width: 70%;
}
aside{
    width: 20%;
    font-size: 14rem;
    color: #676766;
}
#resumo-compra{
    background-color: #f8f8f8;
    color: #676766;
    padding-inline-start: 0%;
    padding: 3%;
}
#resumo-compra li{
    list-style: none;
    padding-left: 1vw;
    margin-top: 1vh;
}
.total{
    border-top: 1px solid #C2C1C1;
}
#info-usuario{
    padding-inline-start: 0%;
}
#info-usuario li{
    list-style: none;
    color: #676766;
    background-color: #f8f8f8;
    border-left: 0.75vw #F8B000 solid;
    font-size: 14rem;
    padding: 3vh;
    margin: 2vh;
    display:flex;
    justify-content: space-between;
}
.editar{
    text-decoration: none;
    color: #F8B000;
}
#meios-pag ul{
    padding-inline-start: 0%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}
#meios-pag{
    font-size: 16rem;
    border-bottom: 1px solid #C2C1C1;
    background-color: #f8f8f8;
    display: flex;
    width: 50%;
    margin-left: 1vw;
}
#meios-pag li a{
    text-decoration: none;
    color: #676766;
}
#meios-pag li a.active{
    font-weight: bolder;
    color: #F8B000;
}
#meios-pag li a:hover:not(.active){
    color:  #F8B000;
}
.info-boleto{
    font-size: 14rem;
    color: #676766;
    background-color: #f8f8f8;
    margin-left: 1vw;
    margin-right: 1vw;
}
p{
    margin: 0%;
    padding: 2vh;
}
button{
    width: 20%;
    height: 8vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    cursor: pointer;
}
#finalizar{
    display:flex;
    justify-content: flex-end;
    margin-right: 1vw;
}
.main-aside{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}
footer{
    font-size: 16rem;
    margin-top: 10vh;
}