@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
*{
    box-sizing: border-box;
}
img{
    width: 12vw;
    height: 10vh;
    padding-left: 3vw;
}
header{
    background-color: #1D1736;
    width: 100%;
    color: #F8B000;
    font-size: 12rem;
    display: flex;
    padding: 1vh;
    height: 9%;
}
header h1{
    margin-left: 7.5%;
}
aside{
    width: 20%;
}
body{
    margin: 0px;
    font-family: OpenSans;
    font-size: 15rem;
}
#menu-lateral{
    list-style: none;
    font-size: 18rem;
    background-color: #1D1736;
    margin: 0%;
    height: 100vh;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}
#menu-lateral a{
    text-decoration: none;
    color: white;
    padding-right: 3vw;
    padding-left: 3vw;
}
#menu-lateral a.active{
    font-weight: bolder;
    color: #F8B000;
}
#menu-lateral a:hover:not(.active){
    color:  #F8B000;
}
#menu-lateral li{
    padding-top: 5vh;
}
.resumo-vendas{
    display: flex;
    color: #1D1736; 
    font-weight: bold;
    justify-content: space-around;
    border: 2px solid #1D1736;
    width: 80%;
    padding-bottom: 2.5vh;
}
.conteudo{
    display: flex;
}
main{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    color: #1D1736;
    align-self:flex-start;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
}
#ultimos-pedidos{
    border: 2px solid #1D1736;
    border-collapse: collapse;
    text-align: left; 
    color: #1D1736;
    width: 80%;
}
th{
    border: 2px solid #1D1736;
    padding: 2%;
}
.ultima-linha{
    border-bottom: 2px solid #1D1736;
}