@font-face {
    font-family: OpenSans;
    src: url("../resources/OpenSans-Light.ttf");
}
html{
    font-size: 6.25%;
}
aside{
    width: 100vw;
    height: 30vh;
    margin-top: 3vh;
}
aside a{
    font-size: 15rem;
    text-decoration: none;
    display: block;
    color: #676766;
    margin: 4rem;
}
aside a.active{
    background-color: #1D1736;
    border-radius: 3rem;
    color: white;
    padding: 2%;
}
aside a:hover{
    background-color: #1D1736;
    border-radius: 3rem;
    color: white;
    padding: 2%;
}
body{
    font-family: OpenSans;
    color:#676766;
}
h1{
    font-size: 25rem;
}
p{
    font-size: 15rem;
}
h2{
    font-size: 15rem;
}
main{
    display: flex;
}
