@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
body{
    font-family: OpenSans;
    color:#676766;
    background-color: white;
    margin: 0;
}
main{
    display: flex;
    margin: 2vw;
}
*{
    box-sizing: border-box;
}
aside{
    width: 100vw;
    height: 30vh;
    margin-top: 2vh;
    margin-right: 2vw;
}
aside a{
    font-size: 15rem;
    text-decoration: none;
    display: block;
    color: #676766;
    margin-top: 1.5vh;
    padding: 2%;
    padding-left: 8%;
}
aside a.active{
    background-color: #1D1736;
    border-radius: 8px;
    color: white;
    padding: 2%;
    padding-left: 8%;
}
aside a:hover:not(.active){
    background-color: #1D1736;
    border-radius: 8px;
    color: white;
    padding: 2%;
    padding-left: 8%;
}
h1{
    font-size: 25rem;
}
p{
    font-size: 15rem;
}
h2{
    font-size: 15rem;
}
.iframe-footer{
    width: 100%;
    border: none;
    height: 152px;
}
footer{
    height: 152px;
}