* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

body {
    font-family: OpenSans;

}

p{
    font-size:30px;
    text-align: center;
}
.div1{

    width:70%;
    margin: auto;
    padding-top: 3%;
}
.base{
    height:4vh;
    width:25%;
    border:1px solid black;
    margin-left:15%;
    margin-top:10px ;
    margin-bottom:10px ;
}

label{
    margin-left:15% ;
    padding-top:10px ;
}
.label2{
    margin-left:22%;
    margin-top:10px ;
}
.button{
    width:15%;
    height: 6vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
    margin-left:40% ;
    margin-bottom: 10vh;
}
.descricaoJogo{
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
