p{
    font-size: 30px;
    text-align: center;
}
 .input2{
    height:4vh;
    width:25%;

     
 }
 .div{
     height:5vh;
     width:70%;
     margin:0 auto;
     margin-top:30px ;
     

 }
 .button{
    width:15%;
    height: 6vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
    margin-left:40% ;
    
 }
 footer{
     margin-top: 40px;
 }
 .nome{
       margin-left: 20%;
 }
 .telefone{
     margin-left:15% ;
 }
 .numeEsta{
     margin-left:17% ;
 }