* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

body, form, button, label, ::placeholder{
    font-family: OpenSans;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.lista {
    font-size: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: auto;
}

.div {
     height: 3vh;
}

.button {
    width: 15%;
    height: 6vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
    margin-left: 40%;
}