* {
    box-sizing: border-box;
}
@font-face{
    font-family: "Open Sans";
    src: url("Fonts/OpenSans-Regular.ttf");
}
body {
    font-family: "Open Sans";
}
.mainDetalhesDoProduto {
    font-family: "Open Sans";
    padding: 30px;
}
.h2DetalhesDoProduto {
    text-align: center;
    font-size: 200%;
}
.h6DetalhesDoProduto {
    text-align: center;
}
h1 {
    text-align: center;
    padding: 1%;
    font-family: "Open Sans"
}
.produto{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1d1736 ;
}
.p {
    text-align: center;
    font-size: 14px;
    color: #1d1736 ;
}
.buttonChat {
    background: #F8B000;
    color: white;
    text-rendering: auto;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #F8B000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    padding: 10px;
    margin: 3px;
    height: 6vh;
    width: 16vw;
}
.buttonChat:hover{
    background-color: white;
    color: #F8B000;
    font-weight: bold;
}
.buttonEditar {
    background: #1d1736;
    color: white;
    text-rendering: auto;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #1d1736;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    padding: 10px;
    margin: 3px;
    height: 6vh;
    width: 16vw;
}
.buttonEditar:hover{
    background: white;
    color: #1d1736;
    font-weight: bold;
}
.linkEditar{
    text-decoration: none;
}
.descricao {
    text-align: justify;
    font-size: 100%;
    padding-right: 20%;
    padding-left: 20%;
}
.caixaDetalhesDoProduto{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.exibirFotos{
    width: 15%;
    height:0px;
}
.exibirFotos img{
    width: 150px;
    height: 130px;
    object-fit: scale-down;
    margin-top: 5px;
}
.imagemPrincipal{
    display:flex;
    width: 25%;
    justify-content: center;
}
.imagemPrincipal img{
    width:300px;
    height:530px;
    object-fit: contain;
}
.descricaoDetalhesDoProduto{
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 10%;
    width: 50%;
}
