* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

body, form, button, label, ::placeholder{
    font-family: OpenSans;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    background-color: #1d1736;
    color: white;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.atendimento img {
    height: 20px;
    width: 20px;
}
