* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("/Fonts/OpenSans-Regular.ttf");
}

body, form, button, label, ::placeholder{
    font-family: OpenSans;
}

.headerBody {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #1d1736;
    height: 10vh;
    display: flex;
}

.logoHeader {
    max-width: 150px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.busca {
    display: flex;
    width: 200px;
    height: 25px;
    margin: auto;
}

.login-right {
    margin-right: 2%;
    align-self: center;
}

.login-right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.menuHeader {
    background-color: #1d1736;
    display: flex;
    border-top: 4px solid white;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50px;
}

.menuHeader a {
    text-decoration: none;
    color: white;
}

.menuHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menuHeader li {
    display: inline-block;
    padding: 20px;
}