* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

body, form, button, label, ::placeholder{
    font-family: OpenSans;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-main {
    display: flex;
    margin: auto;
    margin-top: 10px;
    max-width: 400px;
    max-height: 250px;
    width: auto;
    height: auto;
    padding-top: 3%;
}

.mainHome {
    padding-left: 5%;
    padding-right: 5%;
}

.h1Home {
    text-align: center;
    padding: 1%;
}

.h3Home {
    text-align: left;
    padding-left: 3%;
}

.imgHome {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 251x;
    transition: all 0.5s;
    cursor: pointer;
}
.imgHome:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.homePs4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    
}

.homeXbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;

}
.homeSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    
}

p { 
    text-align: center;
    font-size: 100%;
    color: #1d1736 ;
    padding-bottom: 1%;
    
}

.buttonHome {
    background-color: #F8B000;
    color: white;
    text-rendering: auto;
    display: inline-block;
    border-radius: 3px;
    border: thin;
    text-align: center;
    font-size: 80%;
    padding: 1%;
    margin: 1%;
}