* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

#pai {
    list-style-type: none;
    width: 20vw;
}

#principal{
    margin-left: 3vw;
}

.li1 {
    background-color: #f8b000;
    display: flex;
    width: 20vw;
    border-radius: 1vw;
    margin-top: 3vw;
}

.link2 {
    text-decoration: none;
    color: white;
    width: 20px;
}

.li1:hover {
    background-color: #f8b200dc;
}