@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
*{
    box-sizing: border-box;
}
.menu-admin{
    width: 20%;
    flex-grow: 1;
}
.body-admin{
    margin: 0px;
    font-family: OpenSans;
    font-size: 15rem;
    height: 100vh;
    flex-direction: column;
}
.flex{
    display: flex;
}
.conteudo-admin{
    flex-grow: 1;
    width: 80%;
}
.aside-main-admin{
    flex-grow: 1;
