@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-Regular.ttf");
}
html{
    font-size: 6.25%;
}
*{
    box-sizing: border-box;
}
.menu-admin{
    width: 20%;
    flex-grow: 1;
}
.body-admin{
    margin: 0px;
    font-family: OpenSans;
    font-size: 15rem;
    height: 100vh;
    flex-direction: column;
}
.flex{
    display: flex;
}
.conteudo-admin{
    flex-grow: 1;
    width: 80%;
}
.aside-main-admin{
    flex-grow: 1;
}
#cadastrar-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#button-cadastrar{
    width: 20%;
    height: 6vh;
    background-color: #F8B000;
    border-radius: 5px;
    border: #F8B000;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
    align-self: center;
}
#email{
    width: 30%;
    height: 4vh;
}
#password{
    width: 30%;
    height: 4vh;
}
#nome{
    width: 30%;
    height: 4vh;
}