@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

* {
    box-sizing: border-box;
} 

nav {
    padding: 10%;
}

.mainPerguntasFrequentes {
    align-items: center;
    justify-content: center;
    font-family: 'Fonts/OpenSans-Regular.ttf';
    color: #1d1736;
    font-size: 110%;
    font-style: normal;
    text-align: justify;
    line-height: 130%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;

}



