<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastroUsuario.css">
    <title>Cadastro Usuário</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
     </header>
    <main>
        <div class="info">
            <h1>Cadastro</h1>
            <h3>Seja muito bem-vindo(a) ao Exchange Games!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus, minus at consequuntur, obcaecati recusandae sapiente voluptatibus officiis inventore molestias molestiae tempora dignissimos quisquam amet quidem quod libero omnis sunt!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, reiciendis inventore illum numquam suscipit corporis necessitatibus nobis est! Veniam aut a magni assumenda dolores officia minima molestias cumque, reiciendis eligendi?</p>
            <p>Ficamos muito felizes em ter você conosco!</p>
        </div>
        <div class="form">
            <input type='file'>
            <br><br>
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required size="50">
            <br><br>
            <label for="nome">Sobrenome</label><br>
            <input type="text" id="nome" name="nome" placeholder="Digite seu sobrenome" required size="50">
            <br><br>
            <label for="nome">Nome de Usuário</label><br>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome de usuário" required size="50">
            <br><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required size="50">
            <br><br>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha" placeholder="Senha" required size="50">
            <br><br>
            <label for="senha">Confirmação de Senha</label><br>
            <input type="password" id="senha" name="senha" placeholder="Senha" required size="50">
            <br><br>
            <input name="notificacoes" type="checkbox" id="exchange" value="exchange"><label for="exchange"> Sim, desejo receber outras notificações do site através de e-mail</label>
            <br>
            <input name="notificacoes" type="checkbox" id="parceiros" value="parceiros"><label for="parceiros"> Sim, também desejo receber e-mails de parceiros do site</label>
            <br><br>
            <div class="aviso">
                <p>Ao clicar em confirmar você afirma que concorda com os Termos de Uso e Política de Privacidade do Exchange Games.</p>
            </div>
            <div class="concluir">
                <button type="submit">Concluir Inscrição</button>
            </div>
        </div>
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>