<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroDeJogo.css"> 
    <title>Document</title>
</head>
<body >
    <header>
        <%- include('header.ejs') %>
    </header>
    <div>
        <p>Cadastro de jogo</p><hr>
    </div>
    <form action="/jogo/cadastro" method="POST">
        <div class="div1">
            <label class="label" for="Nome do jogo">Nome do jogo</label><br>
            <input class="base" name="nomeJogo" type="text" placeholder="Nome do jogo">
        </div>
   <div class="div1">
       <label class="label" for="Ano do jogo"> Ano do jogo</label><br>
       <input class="base" name="anoJogo" type="text" placeholder="Ano do jogo">
       <select class="base" name="" id="">
        <option value="Marca">Marca de jogo</option>
        <option value="ps4">Ps4</option>
        <option value="Ps5">Ps5</option>
        <option value="Nintendo">Nintendo</option>
        <option value="Xbox ">Xbox</option>
      </select>
   </div>
   <div class="div1">
       <label  class="label"  for="">Descrição do produto</label>
       <label  class="label2"  for="">Tempo de uso</label><br>
       <input  class="base" name="descricao" type="text" placeholder="Descriçao do produto">
       <input  class="base" name="tempoJogo"  type="text" placeholder="Tempo de uso">
    </div>
    <input class="button" type="submit" value="Salvar"/>
    
</form>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>
