<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroDeJogo.css">
    <title>Exchange Games | Cadastro de jogo</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
    </header>
        <h2>Anuncie o seu jogo</h2>
    <form action="/jogos/cadastroJogo" method="POST">
            <label for="Nome do jogo">Nome do jogo</label>
                <input name="nomeJogo" type="text" placeholder="Exemplo: Super Mario 3D World" maxlength="150" required/>
            <label for="Tempo de uso">Tempo de uso</label>
                <input name="tempoJogo" type="text" placeholder="Exemplo: 2 anos" maxlength="25" required/>
            <label for="Ano do jogo"> Ano do jogo</label>
                <input name="anoJogo" type="text" placeholder="Exemplo: 2018" maxlength="4" required/>
            <label for="Console">Console</label>
                <select name="console" required>
                    <option value="Switch">Switch</option>
                    <option value="Wii/Wii U">Wii/Wii U</option>
                    <option value="3DS/DS">3DS/DS</option>
                    <option value="PlayStation 5">PlayStation 5</option>
                    <option value="PlayStation 4">PlayStation 4</option>
                    <option value="PlayStation 3">PlayStation 3</option>
                    <option value="Xbox Series X">Xbox Series X</option>
                    <option value="Xbox One">Xbox One</option>
                    <option value="Xbox 360">Xbox 360</option>
                </select>
            <label for="Gênero">Gênero</label>
                    <input type="checkbox" name="genero" value="Ação">Ação</input>
                    <input type="checkbox" name="genero" value="Aventura">Aventura</input>
                    <input type="checkbox" name="genero" value="Estratégia">Estratégia</input>
                    <input type="checkbox" name="genero" value="RPG">RPG</input>
                    <input type="checkbox" name="genero" value="Esporte">Esporte</input>
                    <input type="checkbox" name="genero" value="Corrida">Corrida</input>
                    <input type="checkbox" name="genero" value="Simulação">Simulação</input>
                    <input type="checkbox" name="genero" value="Quebra-cabeça">Quebra-cabeça</input>
                    <input type="checkbox" name="genero" value="Ritmo">Ritmo</input>
                    <input type="checkbox" name="genero" value="Terror">Terror</input>
                    <input type="checkbox" name="genero" value="Outros">Outros</input>
            <label for="Condição">Condição do jogo</label>
                <select name="condicao" required>
                    <option value="Novo">Novo</option>
                    <option value="Usado">Usado</option>
                    <option value="Novo">Lacrado</option>
                </select>
            <label for="Descrição do produto">Descrição do produto</label>
                <textarea  name="descricao" type="text" placeholder="Descreva o seu jogo" maxlength="1500" required></textarea>
        <input type="submit" value="Salvar"/>        
    </form>            
    <form action="/jogos/upload" method="POST" enctype="multipart/form-data">
            <label for="Fotos"><h3>Envie as fotos do seu jogo (no máximo 5)</h3></label>
            <input type="file" name="foto"/>
        <input type="submit" value="Enviar foto"/>
    </form>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>
