<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Jogo | Administrador</title>
</head>
<body>
    <form id="cadastrarJogo" action="/admin/cadastrandoJogo" method="POST">
        <label for="jogo">Nome do Jogo</label>
        <input class="input" type="text" name="nomeJogo" required/>
        <label for="ano">Ano do Jogo</label>
        <input class="input" type="text" name="anoJogo" required/>
        <label for="tempo">Tempo de Uso</label>
        <input class="input" type="text" name="tempoJogo" required/>
        <label class="label" for="descricao">Descrição do anúncio</label>
        <textarea class="textarea" name="descricao" required></textarea>
        <input class="button" type="submit" value="CADASTRAR"/>
    </form>
</body>
</html>   