<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Games | Cadastro Gênero</title>
    <link rel="stylesheet" href="/css/painel-admin.css">
</head>
<body class="body-admin flex">
<header>
    <%- include('header-admin.ejs') %>
</header>
<div class="flex aside-main-admin">
<aside class="menu-admin">
    <%- include('menu-admin.ejs') %>
</aside>
<main class="conteudo-admin">
    <form action="/admin/cadastroPlataforma" method="POST">
        <h2>Cadastrar nova plataforma</h2>
        <div>
            <label>Console</label>
                <input name="console" type="text" placeholder="PS3, PS5, Xbox One..." maxlength="150" required/>
            <label>Marca</label>
                <input name="marca" type="text" placeholder="Nintendo, Xbox, PlayStation..." maxlength="150" required/>
    <input type="submit" value="Salvar"/>   
    </form>
</main>
</div>
</body>
</html>  
