<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "css/catalogo.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="images/logo-icone.png" alt="logo">
            <div class="busca">
                <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                <button class="botao-busca" type="submit">
                    <i class="fa-busca"></i>
                </button>
            </div>
            <div class="login-right">
                <a href="./login.html">Login</a>
                <a href="./cadastroUsuario.html">Cadastro</a>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Nintendo</a></li>
                <li><a href="#">PC</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <h1>Catálogo de Jogos</h1>
            <h3>Playstation 4</h3>
            <div class="ps4">
                <p><img src="images/icones-ps4/assassins-creed-valhalla.png" alt="Assassins Creed Valhalla" width="200px" height="251px"><br>Assassins Creed Valhalla<br><button>Saiba +</button></p>
                <p><img src="images/icones-ps4/cyber-punk.png" alt="Cyberpunk" width="200px" height="251px"><br>Cyberpunk<br><button>Saiba +</button></p>
                <p><img src="images/icones-ps4/ghost.png" alt="Ghost" width="200px" height="251px"><br>Ghost of Tsushima<br><button>Saiba +</button></p>
                <p><img src="images/icones-ps4/red-dead-redemption-2.png" alt="Red Dead Redemption 2" width="200px" height="251px"><br>Red Dead Redemption 2<br><button>Saiba +</button></p>
                <p><img src="images/icones-ps4/sekiro.png" alt="Sekiro" width="200px" height="251px"><br>Sekiro<br><button>Saiba +</button></p>
                <p><img src="images/icones-ps4/the-last-of-us-part-2.png" alt="The Last Of Us Part 2" width="200px" height="251px"><br>The Last Of Us Part II<br><button>Saiba +</button></p>

            </div>
            <h3>Xbox One</h3>
            <div class="xbox">
                <p><img src="images/icones-xbox/avengers.png" alt="Avengers" width="200px" height="251px"><br>Avengers<br><button>Saiba +</button></p>
                <p><img src="images/icones-xbox/forza-7.png" alt="Forza 7" width="200px" height="251px"><br>Forza 7<br><button>Saiba +</button></p>
                <p><img src="images/icones-xbox/immortals-fenyx-rising.png" alt="Immortals Fenyx Rising" width="200px" height="251px"><br>Immortals Fenyx Rising<br><button>Saiba +</button></p>
                <p><img src="images/icones-xbox/minecraft.png" alt="Minecraft" width="200px" height="251px"><br>Minecraft<br><button>Saiba +</button></p>
                <p><img src="images/icones-xbox/modern-warfare.png" alt="Modern Warfare" width="200px" height="251px"><br>Call Of Dutty Modern Warfare<br><button>Saiba +</button></p>
                <p><img src="images/icones-xbox/tomb-raider.png" alt="Tomb Raider" width="200px" height="251px"><br>Tomb Raider<br><button>Saiba +</button></p>
            </div>       
            <h3>Nintendo Switch</h3>
            <div class="switch">
                <p><img src="images/icones-switch/Mario-Kart-8-Deluxe.png" alt="Mario Kart 8" width="200px" height="251px"><br>Mario Kart 8<br><button>Saiba +</button></p>
                <p><img src="images/icones-switch/luigis-mansion.png" alt="Luigi's Mansion" width="200px" height="251px"><br>Luigi's Mansion<br><button>Saiba +</button></p>
                <p><img src="images/icones-switch/splatoon2.png" alt="Splatoon 2" width="200px" height="251px"><br>Splatoon 2<br><button>Saiba +</button></p>
                <p><img src="images/icones-switch/animal-crossing.png" alt="Animal Crossing" width="200px" height="251px"><br>Animal Crossing<br><button>Saiba +</button></p>
                <p><img src="images/icones-switch/super_mario_maker_2_nintendo.png" alt="Super Mario Maker 2" width="200px" height="251px"><br>Super Mario Maker 2<br><button>Saiba +</button></p>
                <p><img src="images/icones-switch/Super-Smash-Bros.png" alt="Super Smash Bros" width="200px" height="251px"><br>Super Smash Bros Ultimate<br><button>Saiba +</button></p>
            </div>       
        </main>
        <footer>
            <div class="atendimento">
                <ul>
                    <li>Atendimento</li><br>
                    <li><a href="https://web.whatsapp.com/"><img src="./images/icones contato 64px/whatsapp.png" alt="WhatsApp"> WhatsApp</a></li>
                    <li><a href="./contato.html"><img src="./images/icones contato 64px/icone-circular-email.png" alt="contato@expressgames.com.br"> contato@expressgames.com.br</a></li>
                    <li><a href=""><img src="./images/icones contato 64px/telefone.png" alt="telefone"> 0800-888-999</a></li>
                </ul>
            </div>
            <div class="intitucional">
                <ul>
                    <li>Institucional</li><br>
                    <li><a href="./quem-somos.html">Quem somos</a></li>
                    <li><a href="./politicaDePrivacidade.html">Termos de uso</a></li>
                    <li><a href="./perguntasFrequentes.html">Ajuda</a></li>
                </ul>
            </div>
            <div class="sociais">
                <ul>
                    <li>Redes Sociais</li><br>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </footer>
        

        </body>
    </html>