<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Comprar Creditos</title>
        <meta name="viewport"content= "width=device-width, inicital-scale=1">
        <link href= "css/comprarCreditos.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header">
                <img class="logo" src="images/logo-icone.png" alt="logo">
                <div class="busca">
                    <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                    <button class="botao-busca" type="submit">
                        <i class="fa-busca"></i>
                    </button>
                </div>
                <div class="login-right">
                    <a href="./login.html">Login</a>
                    <a href="./cadastroUsuario.html">Cadastro</a>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">Playstation</a></li>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">PC</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Comprar créditos</h1>
            <div class="caixa">
                <div class="pontos1">
                <p><img src="images/Creditos/100-creditos" alt="100 créditos" width="250px" height="314px"><br>100 créditos<br>R$50,00<br><button>Comprar</button></p>
            </div>
                <div class="pontos2">
                <p><img src="images/Creditos/200-creditos" alt="200 créditos" width="250px" height="314px"><br>200 créditos<br>R$100,00<br><button>Comprar</button></p>
            </div>       
                <div class="pontos3">
                <p><img src="images/Creditos/500-creditos" alt="500 créditos" width="250px" height="314px"><br>500 créditos<br>R$200,00<br><button>Comprar</button></p>
                </div>
            </div>       
        </main>
        <footer>
            <div class="atendimento">
                <ul>
                    <li>Atendimento</li><br>
                    <li><a href="https://web.whatsapp.com/"><img src="./images/icones contato 64px/whatsapp.png" alt="WhatsApp"> WhatsApp</a></li>
                    <li><a href="./contato.html"><img src="./images/icones contato 64px/icone-circular-email.png" alt="contato@expressgames.com.br"> contato@expressgames.com.br</a></li>
                    <li><a href=""><img src="./images/icones contato 64px/telefone.png" alt="telefone"> 0800-888-999</a></li>
                </ul>
            </div>
            <div class="intitucional">
                <ul>
                    <li>Institucional</li><br>
                    <li><a href="./quem-somos.html">Quem somos</a></li>
                    <li><a href="./politicaDePrivacidade.html">Termos de uso</a></li>
                    <li><a href="./perguntasFrequentes.html">Ajuda</a></li>
                </ul>
            </div>
            <div class="sociais">
                <ul>
                    <li>Redes Sociais</li><br>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </footer>
        </body>
    </html>