<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/confirmacaoCompra.css">
    <title>Confirmação de Compra</title>
    <link href= "css/catalogo.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="images/logo-icone.png" alt="logo">
            <div class="busca">
                <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                <button class="botao-busca" type="submit">
                    <i class="fa-busca"></i>
                </button>
            </div>
            <div class="login-right">
                <a href="./login.html">Login</a>
                <a href="./cadastroUsuario.html">Cadastro</a>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Nintendo</a></li>
                <li><a href="#">PC</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h3>Pedido Efetuado</h3>
        </div>
        <div>
            <p>Assim que o pagamento for confirmado seus créditos estarão disponíveis na sua conta.</p>
        </div>
        <div class="carteira">
            <a href="minhaCarteira.html"><button type="submit">Minha Carteira</button></a>
        </div>
    </main>
    <footer>
        <div class="atendimento">
            <ul>
                <li>Atendimento</li><br>
                <li><a href="https://web.whatsapp.com/"><img src="./images/icones contato 64px/whatsapp.png" alt="WhatsApp"> WhatsApp</a></li>
                <li><a href="./contato.html"><img src="./images/icones contato 64px/icone-circular-email.png" alt="contato@expressgames.com.br"> contato@expressgames.com.br</a></li>
                <li><a href=""><img src="./images/icones contato 64px/telefone.png" alt="telefone"> 0800-888-999</a></li>
            </ul>
        </div>
        <div class="intitucional">
            <ul>
                <li>Institucional</li><br>
                <li><a href="./quem-somos.html">Quem somos</a></li>
                <li><a href="./politicaDePrivacidade.html">Termos de uso</a></li>
                <li><a href="./perguntasFrequentes.html">Ajuda</a></li>
            </ul>
        </div>
        <div class="sociais">
            <ul>
                <li>Redes Sociais</li><br>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>YouTube</li>
            </ul>
        </div>
    </footer>
</body>
</html>