<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Detalhes do Produto</title>
        <meta name="viewport"content= "width=device-width, inicital-scale=1">
        <link href= "/css/detalhesDoProduto.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <header>
                <%- include('header.ejs') %>
            </header>
        <main class="mainDetalhesDoProduto">
            <div class="caixaDetalhesDoProduto">
                <div class="tituloDetalhesDoProduto">
                <img src="/images/last-of-us.jpg" alt="Capa do jogo Last of us" width="300px" height="377px"/>
            </div>
            <div class="descricaoDetalhesDoProduto">
                <h2 class="h2DetalhesDoProduto">The Last of Us</h2>
                <h6 class="h6DetalhesDoProduto">Anúncio criado em   - cód do anúncio: </h6>
                <p>Nome do anunciante:</p>
                <p>Ano do jogo:</p>
                <p>Marca:</p>
                <p>Tempo de uso:</p>
                <br>
                <button class="buttonDetalhesDoProduto">Chat</button>
            </div> 
            </div>
        <div class="descricao">
            <h4>Descrição do Produto</h4>
            <p>The Last of Us é uma experiência que promete redefinir o gênero de jogos de apocalipse zumbi com uma mistura de sobrevivência e ação, contando uma história centrada nos personagens, que são muito carismáticos devido ao senso interno de sobrevivência que cada ser humano possui dentro de si, sobre uma praga moderna que dizima a espécie humana há 20 anos atrás.
                A remasterização de um dos melhores jogos do Playstation 3 promete gráficos incríveis, um sistema de movimentação melhorado e alguns novos itens relevantes adicionados no jogo, que irão auxiliar o jogador em sua jornada pós apocalíptica. O jogo também irá contar com várias adições em seu modo multiplayer, aumentando o realismo.</p>
        </div>
        </main>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
        </nav>
    </body>
    </html>