 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body class="bodyFooter">
    <footer>
        <div class="atendimento">
            <ul>
                <li><h4>Atendimento</h4></li>
                <li><a href="https://web.whatsapp.com/"><img src="/images/icones contato 64px/whatsapp2.png" alt="WhatsApp"><span class="textoFooter"> WhatsApp</span></a></li>
                <li><a href="./contato.html"><img src="/images/icones contato 64px/mail.png" alt="contato@xgames.com.br"><span class="textoFooter"> contato@xgames.com.br</span></a></li>
                <li><a href=""><img src="/images/icones contato 64px/phone.png" alt="telefone"><span class="textoFooter"> 800-888-999</span></a></li>
            </ul>
        </div>
        <div class="institucional">
            <ul>
                <li><h4>Institucional</h4></li>
                <li><a href="/home/quem-somos">Quem somos</a></li>
                <li><a href="/home/politica">Termos de uso</a></li>
                <li><a href="/home/perguntas">Ajuda</a></li>
            </ul>
        </div>
        <div class="sociais">
            <ul>
                <li><h4>Redes Sociais</h4></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.youtube.com">YouTube</a></li>
            </ul>
        </div>
    </footer>
</body>