 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body class="bodyFooter">
    <footer>
        <div class="atendimento">
            <ul>
                <li>Atendimento</li><br>
                <li><a href="https://web.whatsapp.com/"><img src="/images/icones contato 64px/whatsapp.png" alt="WhatsApp"> WhatsApp</a></li>
                <li><a href="./contato.html"><img src="/images/icones contato 64px/icone-circular-email.png" alt="contato@expressgames.com.br"> contato@expressgames.com.br</a></li>
                <li><a href=""><img src="/images/icones contato 64px/telefone.png" alt="telefone"> 0800-888-999</a></li>
            </ul>
        </div>
        <div class="intitucional">
            <ul>
                <li>Institucional</li><br>
                <li><a href="./quem-somos.html">Quem somos</a></li>
                <li><a href="./politicaDePrivacidade.html">Termos de uso</a></li>
                <li><a href="./perguntasFrequentes.html">Ajuda</a></li>
            </ul>
        </div>
        <div class="sociais">
            <ul>
                <li>Redes Sociais</li><br>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>YouTube</li>
            </ul>
        </div>
    </footer>
</body>