 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class = "headerBody">
    <header>
        <div class="header">
            <img class="logoHeader" src="/images/logo-icone.png" alt="logo">
            <div class="busca">
                <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                <button class="botao-busca" type="submit">
                    <i class="fa-busca"></i>
                </button>
            </div>
            <div class="login-right">
                <a href="./login.html">Login</a>
                <a href="./cadastroUsuario.html">Cadastro</a>
            </div>
        </div>
        <nav class="menuHeader">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Nintendo</a></li>
                <li><a href="#">PC</a></li>
            </ul>
        </nav>
    </header>
</body>