 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body class = "headerBody">
    <header>
        <div class="header">
            <img class="logoHeader" src="/images/logo-icone.png" alt="logo">
            <div class="busca">
                <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                <button class="botao-busca" type="submit">Pesquisar</button>
            </div>
            <div class="login-right">
                <a href="/users/login">Login</a>
                <a href="/cadastro">Cadastro</a>
            </div>
        </div>
        <nav class="menuHeader">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/home#menuXbox">Xbox</a></li>
                <li><a href="/home#menuPlaystation">Playstation</a></li>
                <li><a href="/home#menuNintendo">Nintendo</a></li>
            </ul>
        </nav>
    </header>
</body>