<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
   </header>
    <main>
        <img class="logo-main" src="../public/images/logo-fundo-claro.png" alt="logo-main"><br>
        <h1>Catálogo de Jogos</h1>
            <h3>Playstation 4</h3>
            <div class="ps4">
                <p><img src="../public/images/icones-ps4/assassins-creed-valhalla.png" alt="Assassins Creed Valhalla" width="200px" height="251px"><br>Assassins Creed Valhalla<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-ps4/cyber-punk.png" alt="Cyberpunk" width="200px" height="251px"><br>Cyberpunk<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-ps4/ghost.png" alt="Ghost" width="200px" height="251px"><br>Ghost of Tsushima<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-ps4/red-dead-redemption-2.png" alt="Red Dead Redemption 2" width="200px" height="251px"><br>Red Dead Redemption 2<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-ps4/sekiro.png" alt="Sekiro" width="200px" height="251px"><br>Sekiro<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-ps4/the-last-of-us-part-2.png" alt="The Last Of Us Part 2" width="200px" height="251px"><br>The Last Of Us Part II<br><button>Saiba +</button></p>

            </div>
            <h3>Xbox One</h3>
            <div class="xbox">
                <p><img src="../public/images/icones-xbox/avengers.png" alt="Avengers" width="200px" height="251px"><br>Avengers<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-xbox/forza-7.png" alt="Forza 7" width="200px" height="251px"><br>Forza 7<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-xbox/immortals-fenyx-rising.png" alt="Immortals Fenyx Rising" width="200px" height="251px"><br>Immortals Fenyx Rising<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-xbox/minecraft.png" alt="Minecraft" width="200px" height="251px"><br>Minecraft<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-xbox/modern-warfare.png" alt="Modern Warfare" width="200px" height="251px"><br>Call Of Dutty Modern Warfare<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-xbox/tomb-raider.png" alt="Tomb Raider" width="200px" height="251px"><br>Tomb Raider<br><button>Saiba +</button></p>
            </div>       
            <h3>Nintendo Switch</h3>
            <div class="switch">
                <p><img src="../public/images/icones-switch/Mario-Kart-8-Deluxe.png" alt="Mario Kart 8" width="200px" height="251px"><br>Mario Kart 8<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-switch/luigis-mansion.png" alt="Luigi's Mansion" width="200px" height="251px"><br>Luigi's Mansion<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-switch/splatoon2.png" alt="Splatoon 2" width="200px" height="251px"><br>Splatoon 2<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-switch/animal-crossing.png" alt="Animal Crossing" width="200px" height="251px"><br>Animal Crossing<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-switch/super_mario_maker_2_nintendo.png" alt="Super Mario Maker 2" width="200px" height="251px"><br>Super Mario Maker 2<br><button>Saiba +</button></p>
                <p><img src="../public/images/icones-switch/Super-Smash-Bros.png" alt="Super Smash Bros" width="200px" height="251px"><br>Super Smash Bros Ultimate<br><button>Saiba +</button></p>
            </div>        
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>
