<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
    
</head>
     <section class="borda">
        <form method="POST" action="/users/login">
         <label></label>
           <p class="login">Login</p>
           <input class="input" type="email" placeholder="Email ou Telefone" id="email"> <br>
           <input  class="input" type="password" name="senha" id="senha" placeholder="senha">
           <a  onclick="mostrarSenha()"><img class="icone"  src="images/olho.png" alt=""> </a>
           <label class="esqueceuSenha"> <a href="">Esqueceu a senha ?</a>  </label><br>
           <input class="Entrar" type="submit" value="Entrar" > <br>
           <a  href=""> <p class="cadastro">Não tem conta ? Cadastre se</p></a>
        </form>
     </section>
  <script>
      
      function mostrarSenha (){
          var tipo= document.getElementById("senha");
          if(tipo.type == "password"){
              tipo.type = "text"
          }
      }
  </script>

<body>
  
</body>
</html>
