<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Painel de Controle</title>
    <link rel="stylesheet" href="/css/login-admin.css">
</head>
<body>
    <form id="meu-login" action="/admin" method="POST">
        <img src= "/images/Logo_amarelo_fundo_claro2.png"/>
        <h1>Área Restrita - Administrador</h1>
        <label for="email">E-mail</label>
        <p><input id="email" name= "email" placeholder="e-mail@exchangegames.com" required maxlength="150" type="email"/></p>
        <label for="senha">Senha</label>
        <p><input id="password" name="senha" placeholder="Senha" type="password" required maxlength="15"/></p>
        <p id="checkbox"><input id="lembrarId" name="lembrar" type="checkbox"/>
        <label for="lembrarId">Lembrar-me</label></p>
        <p><input id="button" type="submit" value="ENTRAR"/></p>
        <p><a href="#">Esqueci minha senha</a></p>
    </form>
</body>
</html>