<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Login</title>
</head>

<body>
    <section class="hero is-primary is-fullheight" style="background-color: #1d1736;">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="/users/login" method="POST" class="box">
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" name="email" placeholder="email@gmail.com"
                                        required />
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="senha">Senha</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="senha" placeholder="*******" required />
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <% if (mensagem) { %>
                                <p>
                                    <label style="color: red;"><%=mensagem%></label>
                                </p>
                            <%}%>
                            <div class="field">
                                <label for="" class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="field">
                                <input class="button is-success" type="submit" value="Entrar" />
                            </div>
                        </form>
                        <div>
                            <p>
                                <a href="/users/senha">Esqueceu sua senha?</a> | <a href="/cadastro">Não possui cadastro?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>