<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu-admin.css">
</head>
<body>
<div class="menu-lateral">
    <div class="sub-menu">
        <button class="menu-dropdown" >Home</i></button>
        </div>
    <div class="sub-menu">
        <button class="menu-dropdown" >Usuários</i></button>
        <div class="dropdown-content">
        <a href="#">Editar informações de usuário</a>
        <a href="#">Bloquear usuário</a>
        <a href="#">Deletar usuário</a>
        <a href="#">Criar usuário administrador</a>
            </div>
                </div>
    <div class="sub-menu">
        <button class="menu-dropdown">Anúncios</button>
        <div class="dropdown-content">
        <a href="#">Editar informações de anúncio</a>
        <a href="#">Bloquear anúncio</a>
        <a href="#">Deletar anúncio</a>
            </div>
                </div>
</div>
</body>
</html>