<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Games | Painel de Controle</title>
    <link rel="stylesheet" href="/css/painel-admin.css">
</head>
<body>
<header>
    <%- include('header-admin.ejs') %>
</header>
    <section class="conteudo">
<aside class="menu-admin">
        <%- include('menu-admin.ejs') %>
</aside>
<main>
    <h1>Resumo das vendas</h1>
    <div class="resumo-vendas">
        <div><p>Vendas do dia</p>
        R$ 0,00</div>
        <div><p>Vendas da semana</p>
        R$ 0,00</div>
        <div><p>Vendas do mês</p>
        R$ 0,00</div>
        <div><p>Total de pedidos</p>
        R$ 0,00</div>
    </div>
    <h1>Últimos pedidos</h1>
    <table id="ultimos-pedidos">
    <tr>
        <th rowspan="3">Pedido efetuado:</th>
        <td>Pedido Nº XXXXXXXX</td>
    </tr>
    <tr>
        <td>Feito por usuário_01</td>
    </tr>
    <tr>
        <td class="ultima-linha">Data dd/mm/aaaa, Horário 00:00</td>
    </tr>
    <tr>
        <th rowspan="3">Pedido efetuado:</th>
        <td>Pedido Nº XXXXXXXX</td>
    </tr>
    <tr>
        <td>Feito por usuário_01</td>
    </tr>
    <tr>
        <td class="ultima-linha">Data dd/mm/aaaa, Horário 00:00</td>
    </tr>
    <tr>
        <th rowspan="3">Pedido efetuado:</th>
        <td>Pedido Nº XXXXXXXX</td>
    </tr>
    <tr>
        <td>Feito por usuário_01</td>
    </tr>
    <tr>
        <td class="ultima-linha">Data dd/mm/aaaa, Horário 00:00</td>
    </tr>
    </table>
    </main>
    </section>
</body>
</html> 