<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Games | Painel de Controle</title>
    <link rel="stylesheet" href="/css/painel-admin.css">
</head>
<body class="body-admin flex">
<header>
    <%- include('header-admin.ejs') %>
</header>
<div class="flex aside-main-admin">
<aside class="menu-admin">
    <%- include('menu-admin.ejs') %>
</aside>
<main class="conteudo-admin">
    <form id="cadastrar-admin" action="/admin/painel" method="POST">
    <h2>Cadastrar usuário administrador</h2>
    <label for="nome">Nome</label>
    <p><input id="nome" name= "nome" placeholder="Seu nome" required maxlength="150" type="text"/></p>
    <label for="email">E-mail</label>
    <p><input id="email" name= "email" placeholder="e-mail@exchangegames.com" required maxlength="150" type="email"/></p>
    <label for="senha">Senha</label>
    <p><input id="password" name="senha" placeholder="Definir uma senha" type="password" required maxlength="15"/></p>
    <input id="button-cadastrar" type="submit" value="Cadastrar"/>
    </form>
</main>
</div>
</body>
</html>  