<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidade</title>
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "../public/css/politicaDePrivacidade.css" rel="stylesheet">
</head>
<body>
    <nav>
        <header>
            <%- include('header.ejs') %>
       </header>
        <main class="mainPerguntasFrequentes">
            <main>
                <h1>Perguntas Frequentes</h1>
                <br>
                <h4>Como comprar um jogo?</h4>
                <p>Para adquirir um jogo na Exchange Games você precisa de créditos. Você pode comprar um pacote de créditos no site ou enviar um jogo usado que será convertido em créditos para sua conta.</p>
                <h4>Quero trocar meu jogo usado por créditos. Como fazer isso?</h4>
                <p>Primeiro você precisa fazer um cadastro no site. Depois de confirmar o cadastro, você poderá preencher um formulário para cadastrar seu jogo. Caso a Exchange Games aprove a sua troca, você receberá um email com as instruções para enviar o jogo para a empresa. Assim que o seu jogo for recebido e avaliado, os créditos ficarão disponíveis na sua carteira.</p>
                <h4>A Exchange vende consoles ou acessórios?</h4>
                <p>No momento trabalhamos apenas com jogos usados e não vendemos consoles/acessórios</p>
                <h4>Gostaria de enviar uma sugestão, qual o melhor canal?</h4>
                <p>Você pode enviar sugestões pelo email (contato@exchangegames.com.br). Todas as sugestões e feedbacks serão avaliados com carinho</p>
                <h4>Posso enviar um jogo que não é original para a troca?</h4>
                <p>Só aceitamos jogos originais. Os usuários que tentarem cadastrar jogos "pirateados" serão banidos imediatamente da plataforma e denunciados aos órgãos competentes.</p>
                <h4>Troquei um jogo, mas ainda não recebi. Como proceder?</h4>
                <p>Ao adquirir o jogo você receberá uma estimativa de prazo para entrega. Você pode acompanhar o status do seu pedido acessando a sua conta. Caso já tenha passado o prazo da entrega, por favor entre em contato conosco.</p>
                </main>
        </main>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
    </nav>
</body>
</html>
