<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perguntas Frequentes</title>
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/css/perguntasfrequentes.css" rel="stylesheet">
</head>
<body>
    <nav>
        <header>
            <%- include('header.ejs') %>
       </header>
        <main class="mainPerguntasFrequentes">
                <h1 class="h1PerguntasFrequentes">Perguntas Frequentes</h1>
                <br>
                <h4>1. Como trocar um jogo?</h4>
                <p>Para trocar um jogo na Exchange Games você precisa criar uma conta no site. Após o cadastro é possível criar um anúncio e aguardar outros usuário entrarem em contato com você.</p>
                <h4>2. Quero criar mais de um anúncio ao mesmo tempo. Isso é possível?</h4>
                <p>Sim,você pode criar outros anúncios na página cadastrar jogo.</p>
                <h4>3. A Exchange vende jogos, consoles ou acessórios?</h4>
                <p>Não, somos uma plataforma para anúncio de jogos usados. Não intermediamos e não nos responsabilizamos pelas trocas efetuadas através do nosso site.</p>
                <h4>4. Gostaria de enviar uma sugestão, qual o melhor canal?</h4>
                <p>Você pode enviar sugestões pelo email (contato@exchangegames.com.br). Todas as sugestões e feedbacks serão avaliados com carinho</p>
                <h4>5. Posso enviar um jogo que não é original para a troca?</h4>
                <p>Não, recomendamos que todos os sejam jogos originais.</p>
                <h4>6. Troquei um jogo, mas ainda não recebi. Como proceder?</h4>
                <p>Você deverá entrar em contato com o responsável pelo anúncio. Não nos resposabilizamos pelas trocas efetuadas na plataforma.</p>
        </main>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
    </nav>
</body>
</html>
