<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidade</title>
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "./css/politicaDePrivacidade.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('header.ejs') %>
   </header>
    <body>
        <main>
        <h1>Política de privacidade</h1>
        <h3>Seus dados sempre seguros</h3>
        <img src= "/images/seguranca.png" alt= "Segurança" class= "center">
        <p>A Exchange Games tem o compromisso com a privacidade e a segurança de seus clientes durante todo o processo de navegação e compra pelo site. Seus dados cadastrais (como nome, endereço e CPF) nunca serão vendidos, trocados ou divulgados para terceiros, exceto quando essas informações são necessárias para o processo de entrega e para cobrança. Seus dados pessoais são peça fundamental para que seu pedido chegue em segurança, na sua casa, de acordo com nosso prazo de entrega.</p>
        <h4>O que é a LGPD?</h4>
        <p>A Lei Geral de Proteção de Dados (Lei nº 13.709/2018), tem como objetivo regulamentar o tratamento de dados pessoais de clientes e usuários por parte de empresas públicas e privadas.</p>
        <h4>Informações do Usuário</h4>
        <p>Suas informações são importantes, pois nos ajudam a tornar o site um lugar melhor e cada vez mais direcionado à você, usuário, na busca de sua total satisfação. Sua privacidade é nossa preocupação. Temos o compromisso de preservá-la. Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias. A Exchange Games obtém informações dos usuários de duas maneiras: Cadastro e Cookies.</p>
        <h4>Cookies</h4>
        <p>A Exchange Games coleta informações através de cookies (informações enviadas pelo servidor da Exchange Games ao computador do usuário, para identificá-lo). Os cookies servem unicamente para controle interno de audiência e de navegação e jamais para controlar, identificar ou rastrear preferências do internauta, exceto quando este desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site, como por exemplo tentativas de hackear o serviço. A aceitação dos cookies pode ser livremente alterada na configuração de seu navegador.</p>
        <h4>Cadastro</h4>
        <p>Para usufruir dos benefícios do site, você precisa se cadastrar na Exchange Games. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Apenas o seu nome completo, email e telefone serão divulgados caso você inicie um processo de troca. Em determinadas situações você ainda poderá vincular o seu cadastro da Exchange Games com o seu perfil em redes sociais, como o Facebook. Nesses casos, você será solicitado a permitir o acesso às suas informações existentes nessas redes.</p>
        <h4>Como usamos os dados pessoais que coletamos</h4>
        <p>O Usuário está ciente de que fornece informação de forma consciente e voluntária por meio de [FORMULÁRIO/ETC], ou por meio dos sites parceiros. Quando o Usuário realiza o cadastro e/ou preenche formulário oferecido pela Exchange Games, inclusive nos sites por ela operados, determinados Dados Pessoais solicitados serão mantidos em sigilo e serão utilizadas apenas para o propósito que motivou o cadastro, conforme Finalidade.</p>
        <p>A EXchange Games utiliza cookies e informações de sua navegação (sessão do browser) com o objetivo de traçar um perfil do público que visita o site e aperfeiçoar sempre nossos serviços, produtos, conteúdos e garantir as melhores ofertas e promoções para você. Durante todo este processo mantemos suas informações em sigilo absoluto. Vale lembrar que seus dados são registrados pela Exchange Games de forma automatizada, dispensando manipulação humana. Para que estes dados permaneçam intactos evite compartilhar sua senha com outras pessoas, mesmo que sejam amigos e parentes.</p>
        <h5>Cadastre-se e compre com tranquilidade, sem preocupações.</h5>
        </main>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
    </body>
</html>