<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos | Exchange Games</title>
    <link rel="stylesheet" href="/css/quem-somos.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="images/logo-icone.png" alt="logo">
            <div class="busca">
                <input class="busca-termo" type="text" placeholder="Digite o nome do jogo">
                <button class="botao-busca" type="submit">
                    <i class="fa-busca"></i>
                </button>
            </div>
            <div class="login-right">
                <a href="#login">Login</a>
                <a href="#cadastro">Cadastro</a>
                <a href="#nome-usuario">Usuario</a>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Nintendo</a></li>
                <li><a href="#">PC</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <aside>
        <a href="#" class="active">Quem somos</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Perguntas frequentes</a>
    </aside>
    <article>
    <h1>Quem somos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi, numquam quas quis voluptate in obcaecati fuga laborum dolor quidem nisi facilis consectetur. Exercitationem quia dolorem enim adipisci necessitatibus. Explicabo?
    Sint quasi rem sunt, modi eos, consequuntur sequi asperiores repudiandae consequatur fugit, officia dolores ducimus! Quo nihil porro sapiente explicabo repellendus fugit cumque mollitia, dicta quaerat quasi, dolores ea maiores.
    Distinctio porro alias, voluptatum quod voluptas magnam explicabo laudantium sint possimus. Consequatur quae aperiam dolore earum quaerat maiores, vel, totam sequi aspernatur eos similique ex sunt? Porro impedit accusamus odio.
    Est dolores, corrupti sit tempora asperiores ex voluptatem, minima dicta ut nemo unde provident magnam, autem error tenetur iste mollitia tempore consectetur at delectus? In atque facere nemo? Animi, iusto.
    Ullam itaque nihil nobis temporibus inventore veritatis obcaecati minus aspernatur ut, totam commodi aperiam culpa quaerat quas fugit provident delectus expedita dolorum hic consequatur unde enim quis! Laudantium, temporibus illum.
    </p>
    <h1>Exchange Games é confiável?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi, numquam quas quis voluptate in obcaecati fuga laborum dolor quidem nisi facilis consectetur. Exercitationem quia dolorem enim adipisci necessitatibus. Explicabo?
        Sint quasi rem sunt, modi eos, consequuntur sequi asperiores repudiandae consequatur fugit, officia dolores ducimus! Quo nihil porro sapiente explicabo repellendus fugit cumque mollitia, dicta quaerat quasi, dolores ea maiores.
        Distinctio porro alias, voluptatum quod voluptas magnam explicabo laudantium sint possimus. Consequatur quae aperiam dolore earum quaerat maiores, vel, totam sequi aspernatur eos similique ex sunt? Porro impedit accusamus odio.
        Est dolores, corrupti sit tempora asperiores ex voluptatem, minima dicta ut nemo unde provident magnam, autem error tenetur iste mollitia tempore consectetur at delectus? In atque facere nemo? Animi, iusto.
        Ullam itaque nihil nobis temporibus inventore veritatis obcaecati minus aspernatur ut, totam commodi aperiam culpa quaerat quas fugit provident delectus expedita dolorum hic consequatur unde enim quis! Laudantium, temporibus illum.
    </p>
    </article>
</main>
<footer>
    <div class="atendimento">
        <ul>
            <li>Atendimento</li><br>
            <li><a href="https://web.whatsapp.com/"><img src="./images/icones contato 64px/whatsapp.png" alt="WhatsApp"> WhatsApp</a></li>
            <li><a href="./contato.html"><img src="./images/icones contato 64px/icone-circular-email.png" alt="contato@expressgames.com.br"> contato@expressgames.com.br</a></li>
            <li><a href=""><img src="./images/icones contato 64px/telefone.png" alt="telefone"> 0800-888-999</a></li>
        </ul>
    </div>
    <div class="intitucional">
        <ul>
            <li>Institucional</li><br>
            <li><a href="./quem-somos.html">Quem somos</a></li>
            <li><a href="./politicaDePrivacidade.html">Termos de uso</a></li>
            <li><a href="./perguntasFrequentes.html">Ajuda</a></li>
        </ul>
    </div>
    <div class="sociais">
        <ul>
            <li>Redes Sociais</li><br>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>YouTube</li>
        </ul>
    </div>
</footer>
</body>
</html>