<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos | Exchange Games</title>
    <link rel="stylesheet" href="/css/quem-somos.css">
</head>
<body>
    <header>
       <%- include('header.ejs') %>
    </header>
    <main>
    <aside>
        <a href="/home/quem-somos" class="active">Quem somos</a>
        <a href="/home/politica">Política de Privacidade</a>
        <a href="/home/perguntas">Perguntas frequentes</a>
    </aside>
    <article>
    <h1>Quem somos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi, numquam quas quis voluptate in obcaecati fuga laborum dolor quidem nisi facilis consectetur. Exercitationem quia dolorem enim adipisci necessitatibus. Explicabo?
    Sint quasi rem sunt, modi eos, consequuntur sequi asperiores repudiandae consequatur fugit, officia dolores ducimus! Quo nihil porro sapiente explicabo repellendus fugit cumque mollitia, dicta quaerat quasi, dolores ea maiores.
    Distinctio porro alias, voluptatum quod voluptas magnam explicabo laudantium sint possimus. Consequatur quae aperiam dolore earum quaerat maiores, vel, totam sequi aspernatur eos similique ex sunt? Porro impedit accusamus odio.
    Est dolores, corrupti sit tempora asperiores ex voluptatem, minima dicta ut nemo unde provident magnam, autem error tenetur iste mollitia tempore consectetur at delectus? In atque facere nemo? Animi, iusto.
    Ullam itaque nihil nobis temporibus inventore veritatis obcaecati minus aspernatur ut, totam commodi aperiam culpa quaerat quas fugit provident delectus expedita dolorum hic consequatur unde enim quis! Laudantium, temporibus illum.
    </p>
    <h1>Exchange Games é confiável?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi, numquam quas quis voluptate in obcaecati fuga laborum dolor quidem nisi facilis consectetur. Exercitationem quia dolorem enim adipisci necessitatibus. Explicabo?
        Sint quasi rem sunt, modi eos, consequuntur sequi asperiores repudiandae consequatur fugit, officia dolores ducimus! Quo nihil porro sapiente explicabo repellendus fugit cumque mollitia, dicta quaerat quasi, dolores ea maiores.
        Distinctio porro alias, voluptatum quod voluptas magnam explicabo laudantium sint possimus. Consequatur quae aperiam dolore earum quaerat maiores, vel, totam sequi aspernatur eos similique ex sunt? Porro impedit accusamus odio.
        Est dolores, corrupti sit tempora asperiores ex voluptatem, minima dicta ut nemo unde provident magnam, autem error tenetur iste mollitia tempore consectetur at delectus? In atque facere nemo? Animi, iusto.
        Ullam itaque nihil nobis temporibus inventore veritatis obcaecati minus aspernatur ut, totam commodi aperiam culpa quaerat quas fugit provident delectus expedita dolorum hic consequatur unde enim quis! Laudantium, temporibus illum.
    </p>
    </article>
</main>
<footer>
    <%- include('footer.ejs') %>
</footer>
</body>
</html>