<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/suaConta.css">
    <title>Sua Conta</title>
    
</head>

<body>
    <header>
        <%- include('header.ejs') %>
    </header>
    <main class="mainConta">
        <div id="suaConta">
            SUA CONTA
        </div>
        <div class="pai">
            <a href="/jogos" class="tipo"><img src="/images/icones video game 48 x 48/troca.png">
                <div class="texto1">Criar Anúncio</div>
            </a>
            <a href="/dados-pessoais" class="tipo"><img
                    src="/images/icones video game 48 x 48/homem-usuario (2).png">
                <div class="texto1">Dados pessoais</div>
            </a>
            <a href="/home/perguntas" class="tipo"><img src="/images/icones video game 48 x 48/perguntas-frequentes.png">
                <div class="texto1">Central de ajuda</div>
            </a>
        </div>
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>

</html>