!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Games | Gênero</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
    </header>
    <main>
    <form action="/admin/cadastroGenero" method="POST">
        <h2>Cadastre o gênero</h2>
        <div>
            <label for="Nome do gênero">Gênero</label>
                <input name="genero" type="text" placeholder="Ação, aventura, RPG..." maxlength="150" required/>
    <input type="submit" value="Salvar"/>   
    </form>
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html> 
